Repository dev-wonny/coopang, pull requests merged in 2024-10, with the labels that each got.

#33 #20 init hub server following api-communication module
  api-communication/.gitignore
  api-communication/build.gradle
  api-communication/gradlew
  api-communication/settings.gradle
  api-communication/src/main/java/com/coopang/api_communication/ApiCommunicationApplication.java
  api-communication/src/main/java/com/coopang/api_communication/feignClient/user/UserClient.java
  api-communication/src/main/java/com/coopang/api_communication/feignClient/user/UserClientService.java
  api-communication/src/main/resources/application.yml
  api-communication/src/test/java/com/coopang/api_communication/ApiCommunicationApplicationTests.java
  hub/build.gradle
  hub/src/main/java/com/coopang/hub/HubApplication.java
  hub/src/main/java/com/coopang/hub/presentation/controller/HubController.java
  settings.gradle
Labels: hubServer, api-communication

#59 [Update] Delivery쪽에서 사용하기 위한 Enum 추가 (#58)
  DATA/api-data/src/main/java/com/coopang/apidata/application/delivery/enums/DeliveryStatusEnum.java
Labels: api-data

#68 #56 dev apidata feature user수정
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/UserPermissionValidator.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/enums/UserRoleEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/response/UserResponse.java
  DATA/api-data/src/main/java/com/coopang/apidata/jpa/entity/base/BaseEntity.java
Labels: dev branch, user&auth, api-data

#69 [Update] SecurityFilterProperties : 개선
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/config/SecurityFilterProperties.java
Labels: api-data

#70 #43 dev apidata
  DATA/api-data/src/main/java/com/coopang/apidata/application/delivery/enums/DeliveryStatusEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/UserPermissionValidator.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/enums/UserRoleEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/response/UserResponse.java
  DATA/api-data/src/main/java/com/coopang/apidata/jpa/entity/base/BaseEntity.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/config/SecurityFilterProperties.java
Labels: api-data

#72 #46 dev monitor
  MONITOR/prometheus/prometheus.yml
  settings.gradle
Labels: monitor, gradle

#73 [Update] api-cofig app
  INFRA/api-config/src/main/java/com/coopang/apiconfig/error/GlobalExceptionHandler.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/filter/CommonApiHeaderFilter.java
Labels: api-config

#90 [update] payment쪽 kafka 송수신 작업 완료 & PG사 결제 취소 요청 생성 및 url 수정
  BOOT/order/src/main/java/com/coopang/order/application/CancelDelivery.java
  BOOT/order/src/main/java/com/coopang/order/application/ErrorCancelOrder.java
  BOOT/order/src/main/java/com/coopang/order/application/RollbackProduct.java
  BOOT/order/src/main/java/com/coopang/order/application/service/OrderService.java
  BOOT/order/src/main/java/com/coopang/order/application/service/PaymentService.java
  BOOT/order/src/main/java/com/coopang/order/domain/entity/payment/PaymentEntity.java
  BOOT/order/src/main/java/com/coopang/order/domain/repository/PaymentRepository.java
  BOOT/order/src/main/java/com/coopang/order/presentation/controller/PGController.java
Labels: order-app, Payment

#92 [update] order / payment Enum 등록
  DATA/api-data/src/main/java/com/coopang/apidata/application/order/enums/OrderStatusEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentMethodEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentStatusEnum.java
Labels: api-data, Order, Payment

#95 [update] 최신 파일 merge
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CancelDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CancelOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompleteDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompletePayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompleteProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorCancelOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorPayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/MessageToOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessPayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/RollbackProduct.java
Labels: api-communication, order-app

#96 [update] 최신파일 merge
  DATA/api-data/src/main/java/com/coopang/apidata/application/order/enums/OrderStatusEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentMethodEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentStatusEnum.java
Labels: api-data, order-app

#98 [update] api-communication, api-data 쪽에서 merge한 부분 적용
  BOOT/order/src/main/java/com/coopang/order/application/CancelDelivery.java
  BOOT/order/src/main/java/com/coopang/order/application/CancelOrder.java
  BOOT/order/src/main/java/com/coopang/order/application/CompleteDelivery.java
  BOOT/order/src/main/java/com/coopang/order/application/CompletePayment.java
  BOOT/order/src/main/java/com/coopang/order/application/ErrorCancelOrder.java
  BOOT/order/src/main/java/com/coopang/order/application/MessageToOrder.java
  BOOT/order/src/main/java/com/coopang/order/application/PaymentError.java
  BOOT/order/src/main/java/com/coopang/order/application/PaymentProcessDto.java
  BOOT/order/src/main/java/com/coopang/order/application/ProcessDelivery.java
  BOOT/order/src/main/java/com/coopang/order/application/ProcessProduct.java
  BOOT/order/src/main/java/com/coopang/order/application/ProductError.java
  BOOT/order/src/main/java/com/coopang/order/application/RollbackProduct.java
  BOOT/order/src/main/java/com/coopang/order/application/request/PaymentDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderCancelResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/PaymentResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/service/OrderService.java
  BOOT/order/src/main/java/com/coopang/order/application/service/PaymentService.java
  BOOT/order/src/main/java/com/coopang/order/domain/OrderStatusEnum.java
  BOOT/order/src/main/java/com/coopang/order/domain/PaymentMethodEnum.java
  BOOT/order/src/main/java/com/coopang/order/domain/PaymentStatusEnum.java
  BOOT/order/src/main/java/com/coopang/order/domain/entity/order/OrderEntity.java
  BOOT/order/src/main/java/com/coopang/order/domain/entity/payment/PaymentEntity.java
  BOOT/order/src/main/java/com/coopang/order/domain/service/OrderDomainService.java
  BOOT/order/src/main/java/com/coopang/order/domain/service/PaymentDomainService.java
Labels: product-app, order-app, Order, Payment

#99 [update] 최신파일 merge
  BOOT/delivery/HELP.md
  BOOT/order/.gitignore
  BOOT/order/build.gradle
  BOOT/order/gradlew
  BOOT/order/settings.gradle
  BOOT/order/src/main/java/com/coopang/order/OrderApplication.java
  BOOT/order/src/main/java/com/coopang/order/application/request/OrderDto.java
  BOOT/order/src/main/java/com/coopang/order/application/request/PaymentDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderCancelResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderCheckResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/PaymentResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/service/OrderService.java
  BOOT/order/src/main/java/com/coopang/order/application/service/PaymentService.java
  BOOT/order/src/main/java/com/coopang/order/domain/entity/order/OrderEntity.java
  BOOT/order/src/main/java/com/coopang/order/domain/entity/payment/PaymentEntity.java
  BOOT/order/src/main/java/com/coopang/order/domain/repository/OrderRepository.java
  BOOT/order/src/main/java/com/coopang/order/domain/repository/PaymentRepository.java
  BOOT/order/src/main/java/com/coopang/order/domain/service/OrderDomainService.java
  BOOT/order/src/main/java/com/coopang/order/domain/service/PaymentDomainService.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/config/AppConfig.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/config/ConsumerApplicationKafkaConfig.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/config/ProducerApplicationKafkaConfig.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/repository/OrderJpaRepository.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/repository/PaymentJpaRepository.java
  BOOT/order/src/main/java/com/coopang/order/infrastructure/security/WebSecurityConfig.java
  BOOT/order/src/main/java/com/coopang/order/presentation/controller/OrderController.java
  BOOT/order/src/main/java/com/coopang/order/presentation/controller/PGController.java
  BOOT/order/src/main/java/com/coopang/order/presentation/request/OrderRequestDto.java
  BOOT/order/src/main/java/com/coopang/order/presentation/request/PGRequestDto.java
  BOOT/order/src/test/java/com/coopang/order/OrderApplicationTests.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/order/enums/OrderStatusEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentMethodEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/payment/enums/PaymentStatusEnum.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CancelDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CancelOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompleteDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompletePayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/CompleteProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorCancelOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorPayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ErrorProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/MessageToOrder.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessDelivery.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessPayment.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/ProcessProduct.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/RollbackProduct.java
Labels: product-app, delivery-app, order-app

#103 [update] delivery kafka 작업 완료
  BOOT/delivery/src/main/java/com/coopang/delivery/application/service/DeliveryService.java
  BOOT/delivery/src/main/java/com/coopang/delivery/domain/service/DeliveryDomainService.java
  BOOT/delivery/src/main/java/com/coopang/delivery/infrastructure/config/ConsumerApplicationKafkaConfig.java
  BOOT/delivery/src/main/java/com/coopang/delivery/infrastructure/config/ProducerApplicationKafkaConfig.java
  BOOT/order/src/main/java/com/coopang/order/application/request/PaymentDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderCancelResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/OrderResponseDto.java
  BOOT/order/src/main/java/com/coopang/order/application/response/PaymentResponseDto.java
Labels: delivery-app, kafka

#105 [fix] 잘못된 import인한 오류 수정
  BOOT/delivery/src/main/java/com/coopang/delivery/application/service/DeliveryService.java
  BOOT/order/src/main/java/com/coopang/order/application/service/OrderService.java
  BOOT/order/src/main/java/com/coopang/order/application/service/PaymentService.java
Labels: bug

#106 [update] 최신파일 merge
  BOOT/build/tmp/jar/MANIFEST.MF
  BOOT/product/.gitignore
  BOOT/product/build.gradle
  BOOT/product/gradlew
  BOOT/product/settings.gradle
  BOOT/product/src/main/java/com/coopang/product/ProductApplication.java
  BOOT/product/src/main/java/com/coopang/product/application/kafka/ProductConsumer.java
  BOOT/product/src/main/java/com/coopang/product/application/request/ProductStockHistory/ProductStockHistoryDto.java
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductDto.java
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductHiddenAndSaleDto.java
  BOOT/product/src/main/java/com/coopang/product/application/request/productStock/ProductStockDto.java
  BOOT/product/src/main/java/com/coopang/product/application/response/ProductStockHistory/ProductStockHistoryResponseDto.java
  BOOT/product/src/main/java/com/coopang/product/application/response/product/ProductResponseDto.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/category/CategoryEntity.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/product/ProductEntity.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStock/ProductStock.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStock/ProductStockConverter.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStock/ProductStockEntity.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStockHistory/ProductStockHistoryChangeType.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStockHistory/ProductStockHistoryEntity.java
  BOOT/product/src/main/java/com/coopang/product/domain/repository/category/CategoryRepository.java
  BOOT/product/src/main/java/com/coopang/product/domain/repository/product/ProductRepository.java
  BOOT/product/src/main/java/com/coopang/product/domain/service/product/ProductDomainService.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/AuditorAwareImpl.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ConsumerApplicationKafkaConfig.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ProducerApplicationKafkaConfig.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ProductDataInitializer.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/category/CategoryJpaRepository.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductJpaRepository.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductRepositoryCustom.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductRepositoryCustomImpl.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/productStock/ProductStockJpaRepository.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/security/WebSecurityConfig.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/product/ProductController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/productStock/ProductStockController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/productStockHistory/ProductStockHistoryController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/BaseSearchCondition.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/CreateProductRequestDto.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/ProductSearchCondition.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/UpdateProductHiddenRequest.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/UpdateProductRequest.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/UpdateProductSaleRequest.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/productStock/AddStockRequest.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/productStock/UpdateStockRequest.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/productStockHistory/ProductStockHistorySearchCondition.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/productStockHistory/UpdateStockHistoryRequest.java
  CLOUD/build/tmp/jar/MANIFEST.MF
  DATA/build/tmp/jar/MANIFEST.MF
  INFRA/build/tmp/jar/MANIFEST.MF
  docker-compose.yml
Labels: kafka, test

#110 [Update] Hub, Shipper, Company, User CRUD 생성, 수정에 관련
  DATA/api-data/src/main/java/com/coopang/apidata/application/hub/enums/ShipperTypeEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/enums/UserRoleEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/response/UserResponse.java
Labels: api-data

#111 [Update] hub-app 에 맞게 수정
  INFRA/api-config/src/main/java/com/coopang/apiconfig/feignClient/FeignConfig.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/mapper/ModelMapperConfig.java
Labels: api-config

#112 [Update] User-app Hub-app과 비슷하게 수정
  BOOT/user/src/main/java/com/coopang/user/application/request/UserDto.java
  BOOT/user/src/main/java/com/coopang/user/application/request/UserSearchCondition.java
  BOOT/user/src/main/java/com/coopang/user/application/response/UserResponseDto.java
  BOOT/user/src/main/java/com/coopang/user/application/service/UserService.java
  BOOT/user/src/main/java/com/coopang/user/domain/entity/user/UserEntity.java
  BOOT/user/src/main/java/com/coopang/user/domain/repository/UserRepository.java
  BOOT/user/src/main/java/com/coopang/user/infrastructure/configuration/UserDataInitializer.java
  BOOT/user/src/main/java/com/coopang/user/infrastructure/repository/UserJpaRepository.java
  BOOT/user/src/main/java/com/coopang/user/infrastructure/repository/UserRepositoryCustom.java
  BOOT/user/src/main/java/com/coopang/user/infrastructure/repository/UserRepositoryCustomImpl.java
  BOOT/user/src/main/java/com/coopang/user/presentation/controller/UserController.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/MyInfoUpdateRequestDto.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/SearchRequestDto.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/UpdateAddressRequestDto.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/UserInfoUpdateRequestDto.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/UserSearchConditionRequest.java
Labels: dev branch, user&auth

#107 [Update] kafka 연결 테스트 중 수정 사항 구현
  BOOT/product/src/main/java/com/coopang/product/application/kafka/ProductConsumer.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/productStock/ProductStockEntity.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ConsumerApplicationKafkaConfig.java
Labels: product-app

#123 [ADD] 상품재고 기록 변동 타입 enum 추가
  DATA/api-data/src/main/java/com/coopang/apidata/application/product/enums/ProductStockHistoryChangeType.java
Labels: api-data

#134 #130 dev apidata feature server role
  BOOT/hub/src/main/java/com/coopang/hub/infrastructure/configuration/CompanyDataInitializer.java
  BOOT/hub/src/main/java/com/coopang/hub/infrastructure/configuration/ShipperDataInitializer.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/company/CompanyClientControllerImpl.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/company/CompanyController.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/hub/HubClientControllerImpl.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/hub/HubController.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/shipper/ShipperClientControllerImpl.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/shipper/ShipperController.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/user/UserClientControllerImpl.java
  BOOT/user/src/main/java/com/coopang/user/infrastructure/configuration/UserDataInitializer.java
  BOOT/user/src/main/java/com/coopang/user/presentation/controller/UserController.java
  BOOT/user/src/main/java/com/coopang/user/presentation/request/UserSearchConditionRequestDto.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/enums/UserRoleEnum.java
  DATA/api-data/src/main/java/com/coopang/apidata/application/user/request/UserSearchConditionRequest.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/ApiCommunicationApplication.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignClient/user/UserClient.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/company/CompanyClient.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/company/CompanyClientController.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/company/CompanyClientService.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/hub/HubClient.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/hub/HubClientController.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/hub/HubClientService.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/shipper/ShipperClient.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/shipper/ShipperClientController.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/shipper/ShipperClientService.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignclient/user/UserClientController.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/feignClient/FeignConfig.java
Labels: user&auth, hub-app, api-data, api-config, api-communication

#148 [update] feignclient를 위한 OrderResponse 추가
  DATA/api-data/src/main/java/com/coopang/apidata/application/order/response/OrderResponse.java
Labels: api-data

#149 [update] feignclient를 위한 order쪽 개발
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignClient/order/OrderClient.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignClient/order/OrderClientController.java
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/feignClient/order/OrderClientService.java
Labels: api-communication

#153 [Update] 재고부족알림관련 메시지 변경
  INFRA/api-communication/src/main/java/com/coopang/apicommunication/kafka/message/LowStockNotification.java
Labels: api-communication, product-app

#154 #45 dev apiconfig
  DATA/core-data/src/main/java/com/coopang/coredata/user/constants/HeaderConstants.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/feignClient/FeignConfig.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/UserMetadata.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/filter/CommonApiHeaderFilter.java
Labels: api-config, core-data

#162 [상품] 배포 후 변경사항들 수정
  BOOT/product/src/main/java/com/coopang/product/application/request/category/CategoryDto.java
  BOOT/product/src/main/java/com/coopang/product/application/response/category/CategoryResponseDto.java
  BOOT/product/src/main/java/com/coopang/product/application/service/category/CategoryService.java
  BOOT/product/src/main/java/com/coopang/product/domain/entity/category/CategoryEntity.java
  BOOT/product/src/main/java/com/coopang/product/domain/repository/category/CategoryRepository.java
  BOOT/product/src/main/java/com/coopang/product/domain/service/category/CategoryDomainService.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ProductDataInitializer.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductRepositoryCustomImpl.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/category/CategoryController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/product/ProductController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/category/CreateCategoryRequestDto.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/category/UpdateCategoryRequestDto.java
Labels: bug, product-app, refactoring

#166 [Refactor] refactor the search method
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductBaseSearchConditionDto.java
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductSearchConditionDto.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
  BOOT/product/src/main/java/com/coopang/product/domain/repository/product/ProductRepository.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductRepositoryCustom.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/repository/product/ProductRepositoryCustomImpl.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/product/ProductController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/ProductBaseSearchConditionRequestDto.java
  BOOT/product/src/main/java/com/coopang/product/presentation/request/product/ProductSearchConditionRequestDto.java
Labels: cache, product-app, refactoring

#151 #48 dev delivery
  BOOT/delivery/src/main/java/com/coopang/delivery/domain/service/delivery/DeliveryDomainService.java
Labels: dev branch, delivery-app

#174 #168 dev ainoti feature sync slack
  BOOT/ainoti/build.gradle
  BOOT/ainoti/src/main/java/com/coopang/ainoti/AinotiApplication.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/application/response/ai/AiRequestHistoryResponseDto.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/application/scheduler/SlackMessageScheduler.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/application/service/noti/SlackMessageService.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/domain/entity/noti/SlackMessageEntity.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/domain/repository/noti/SlackMessageRepository.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/infrastructure/configuration/AuditorAwareImpl.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/infrastructure/configuration/RestTemplateConfig.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/infrastructure/repository/noti/SlackMessageJpaRepository.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/presentation/controller/noti/SlackMessageController.java
  BOOT/ainoti/src/main/java/com/coopang/ainoti/presentation/request/noti/SlackMessageSearchConditionRequestDto.java
  BOOT/gateway/src/main/java/com/coopang/gateway/config/JwtProperties.java
  BOOT/gateway/src/main/java/com/coopang/gateway/filter/CustomPostFilter.java
  BOOT/gateway/src/main/java/com/coopang/gateway/filter/CustomPreFilter.java
  BOOT/hub/src/main/java/com/coopang/hub/application/request/company/CompanyDto.java
  BOOT/hub/src/main/java/com/coopang/hub/application/request/hub/HubDto.java
  BOOT/hub/src/main/java/com/coopang/hub/application/request/shipper/ShipperDto.java
  BOOT/hub/src/main/java/com/coopang/hub/application/service/hub/HubService.java
  BOOT/hub/src/main/java/com/coopang/hub/domain/service/company/CompanyDomainService.java
  BOOT/hub/src/main/java/com/coopang/hub/domain/service/hub/HubDomainService.java
  BOOT/hub/src/main/java/com/coopang/hub/domain/service/shipper/ShipperDomainService.java
  BOOT/hub/src/main/java/com/coopang/hub/infrastructure/security/WebSecurityConfig.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/company/CompanyClientControllerImpl.java
  BOOT/hub/src/main/java/com/coopang/hub/presentation/controller/user/UserClientControllerImpl.java
  BOOT/user/src/main/java/com/coopang/user/application/request/AddressDto.java
  BOOT/user/src/main/java/com/coopang/user/application/request/UserDto.java
  BOOT/user/src/main/java/com/coopang/user/application/service/UserService.java
  BOOT/user/src/main/java/com/coopang/user/domain/entity/user/UserEntity.java
  BOOT/user/src/main/java/com/coopang/user/domain/repository/UserRepository.java
  BOOT/user/src/main/java/com/coopang/user/domain/service/UserDomainService.java
  INFRA/api-config/src/main/java/com/coopang/apiconfig/security/filter/CommonApiHeaderFilter.java
Labels: ainoti

#176 [Update] 코드 정리 및 권한검증 메소드 수정
  BOOT/product/src/main/java/com/coopang/product/application/service/feignclient/CompanyFeignClientService.java
  BOOT/product/src/main/java/com/coopang/product/application/service/feignclient/HubFeignClientService.java
  BOOT/product/src/main/java/com/coopang/product/application/service/feignclient/HubManagerPermissionValidator.java
  BOOT/product/src/main/java/com/coopang/product/application/service/feignclient/UserFeignClientService.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductPermissionValidator.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/category/CategoryController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/product/ProductController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/productstock/ProductStockController.java
  BOOT/product/src/main/java/com/coopang/product/presentation/controller/productstockhistory/ProductStockHistoryController.java
  BOOT/product/src/main/resources/application.yml
  BOOT/product/src/main/resources/logback.xml
Labels: product-app, refactoring

#180 [Update] update cache key
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductBaseSearchConditionDto.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
Labels: product-app

#179 [Merge] 캐시,kafka 변경사항관련 dev-branch로 merge
  BOOT/product/src/main/java/com/coopang/product/application/request/product/ProductBaseSearchConditionDto.java
  BOOT/product/src/main/java/com/coopang/product/application/service/product/ProductService.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ConsumerApplicationKafkaConfig.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ProducerApplicationKafkaConfig.java
  BOOT/product/src/main/java/com/coopang/product/infrastructure/configuration/ProductDataInitializer.java
  BOOT/product/src/main/resources/application.yml
Labels: bug, dev branch, product-app
